body {
	background-color: #121212;
	color: white;
	font-family: Arial, sans-serif;
}
h2 {
	color: white;
	font-size: 24px;
	magin-top: 20px;
}

h3 {
	color: white;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 24px; /* 원하는 크기로 설정 */
}

.upload-container {
	text-align: center;
}

.upload-box {
	margin-top: 20px;
}

.upload-box {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background: #fff;
	border: 2px dashed #ccc;
	text-align: center;
	border-radius: 10px;
}

.upload-box .drag-file {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	cursor: pointer;
}

.upload-box .drag-file img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}

.upload-box .file {
	display: none;
}

.upload-box .message {
	font-size: 18px;
	color: #555;
}

.upload-box .preview {
	width: 100%;
	height: auto;
	margin-top: 20px;
	display: none;
}

.upload-box label {
	background-color: #4CAF50;
	padding: 10px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.upload-box .upload-btn {
	background-color: #4CAF50;
	padding: 10px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px; /* 업로드 버튼을 파일 선택 버튼 밑으로 이동 */
	width: 100%;
	font-size: 16px;
}

.file-name {
	margin-top: 10px;
	font-size: 16px;
	color: #333;
}

.upload-btn:hover {
	background-color: #45a049;
}

.related-images {
	margin-top: 30px;
	text-align: center;
}

.image-gallery {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 20px; /* 각 줄 사이에 간격 추가 */
}

.image-gallery img {
	width: 150px; /* 동일한 크기 설정 */
	height: 150px; /* 동일한 높이 설정 */
	object-fit: cover; /* 이미지 비율을 맞추기 위해 object-fit 사용 */
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-gallery img:hover {
	transform: scale(1.1); /* 이미지 확대 효과 */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 그림자 강화 */
}