<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.ItemMapper">

    <insert id="insertShop" parameterType="com.sp.app.domain.Item">
        INSERT INTO SHOP_ITEM
            (
              item_seq          -- 상품 고유 번호
            , item_name         -- 상품명
            , item_price        -- 가격
            , item_stock        -- 재고 수량
            , item_desc         -- 상품 설명
            , category          -- 카테고리
            , status            -- 상태값 (임시저장, 등록)
            , savefilename
            , originalfilename  -- 사진등록이름
            , file_path         -- 사진저장위치
            , sub_images
            , reg_date          -- 등록일
            )
        VALUES
            (
              shop_item_seq.NEXTVAL
            , #{itemName}
            , #{itemPrice}
            , #{itemStock}
            , #{itemDesc}
            , #{category}
            , #{status}
            , #{saveFileName}
            , #{originalFileName}
            , #{filePath}
            , #{subFileNames}
            , SYSDATE
            )
    </insert>

    <select id="shopItemSeq" resultType="long">
        SELECT shop_item_seq.nextval
        FROM dual
    </select>

    <!-- Shop 부분 -->
    <select id="shopList" resultType="com.sp.app.domain.Item" parameterType="map">
        SELECT
            I.ITEM_SEQ AS itemSeq
             , I.ITEM_NAME AS itemName
             , I.ITEM_PRICE AS itemPrice
             , I.ITEM_STOCK AS itemStock
             , I.ITEM_DESC AS itemDesc
             , I.REG_DATE AS regDate
             , I.CATEGORY AS category
             , I.ORIGINALFILENAME AS originalFileName
             , I.SAVEFILENAME AS saveFileName
             , I.FILE_PATH AS filePath
             , I.SUB_IMAGES AS subFileNames
        FROM SHOP_ITEM I
        WHERE 1=1
        ORDER BY I.REG_DATE DESC
    </select>


</mapper>