<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.">
    <select id="shopList" resultType="com.sp.app.domain.Item" parameterType="map">
        SELECT
            I.ITEM_SEQ AS itemSeq
             , I.ITEM_NAME AS itemName
             , I.ITEM_PRICE AS itemPrice
             , I.ITEM_STOCK AS itemStock
             , I.ITEM_DESC AS itemDesc
             , I.REG_DATE AS regDate
             , I.CATEGORY AS category
             , I.ORIGINALFILENAME AS originalFileName
             , I.SAVEFILENAME AS saveFileName
             , I.file_path AS filePath
        FROM SHOP_ITEM I
        WHERE 1=1
        ORDER BY I.REG_DATE;
    </select>


</mapper>