<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.LoginMapper">

	<select id="loginUser" parameterType="String" resultType="com.sp.app.domain.User">
			SELECT 
				u.user_seq AS userSeq
				, u.user_id AS userId
				, u.user_name AS userName
				, u.user_pwd AS userPwd
				, uh.email AS email
				, uh.tel AS tel
			FROM 
				user1 u
			LEFT JOIN user_history uh ON u.user_seq = uh.user_seq
			WHERE u.user_id = #{userId}		
	</select>
</mapper>